@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100svh;
    justify-content: center;
    align-items: center;
    background: hsl(30, 38%, 92%);
}



/*------------------------------------
## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

-----------------------------*/

.main-container{
    max-width: 32rem;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}


.bk-img img{
    width: 100%;
    height: 100%;
}



.section-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.box-2{
    background: white;
    padding: 32px 22px;
}

.h4-perfume{
    font-family:"Hanken+Grotesk", sans-serif;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: 8px;
    color: hsl(228, 12%, 48%) ;
}
.h1-perfume{
    font-family: "Fraunces",sans-serif;
    font-weight: 700;
    color:hsl(212, 21%, 14%);
}

.section .p-section{
  color: hsl(228, 12%, 48%);
  font-family: "Hanken+Grotesk", sans-serif;
  margin-bottom: 20px;
}


.buy{
    color:hsl(158, 36%, 37%);
    font-weight: 900;
    font-size: 2rem;
    font-family: "Fraunces", sans-serif;
    display: block;
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

.section span{
 color: hsla(228, 3%, 28%, 0.7);
 font-size: small;
 font-family: "Hanken+Grotesk", sans-serif;
 font-weight: 400;
}


.btn{
    border: none;
    background:hsl(158, 36%, 37%);
    border-radius: 10px;
}
.btn p{
    color:hsl(0, 0%, 100%);
    padding: 12px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.btn p span{
    font-weight: 800;
}
.btn:hover{
    cursor: pointer;
    background:hsla(120, 4%, 5%, 0.9)
}